<div>
  <app-total msg="Total por pagar: " [total]="total"></app-total>
  <app-item
    *ngFor="let item of items"
    [item]="item"
    (deleteItem)="deleteItem($event)"
    (toggleItem)="toggleItem($event)"
  ></app-item>
</div>
